<div class="signup_component">
  <div class="navbar">
    <app-navbar></app-navbar>
  </div>
  <div class="body">
    <div class="background">
      <div class="flexbox_container">
        <div class="flexbox_item1">
          <div class="item1_image">
            <img [src]="signupLogo" alt="image" />
          </div>
        </div>
        <div class="flexbox_item2">
          <div class="input_div">
            <div class="signin_div">
              <a routerLink="">Already have account?</a>
            </div>
            <div class="formdiv">
              <form [formGroup]="signupForm" class="needs-validation" (ngSubmit)="handleSubmit()">
                <div class="row mb-3 signup_email_input">
                  <label for="inputEmail" class="col-sm-2 col-form-label" style="font-size: small;"
                    >Email <span class="form_mandatory_mark">*</span></label
                  >
                  <div class="col-sm-10 signup_otp_input">
                    <div class="input-group has-validation">
                      <input
                        type="email"
                        class="form-control"
                        name="userEmail"
                        formControlName="userEmail"
                        required="true"
                        id="inputEmail"
                        aria-describedby="inputGroupPrepend"
                        (keyup)="validateEmail()"
                        [readonly]="fieldReadOnlyStatus"
                      /><span
                        ><button
                        type="button"
                          mat-raised-button
                          style="background-color: #ffc107;"
                          [disabled]="disableSendOTPOButton"
                          (click)="verifyEmail()"
                        >
                          Send OTP
                        </button></span
                      >
                    </div>
                    <div class="invalid-feedback" *ngIf="!isEmailValid">
                      Please choose a E-mail.
                    </div>
                  </div>
                </div>
                <div class="row mb-3 signup_otp_input" *ngIf="showOtpField">
                  <label for="inputOTP" class="col-sm-2 col-form-label" style="font-size: small;"
                    >OTP <span class="form_mandatory_mark">*</span></label
                  >
                  <div class="col-sm-10">
                    <input
                      type="password"
                      class="form-control"
                      name="otp"
                      [readOnly]="OTPfieldReadOnlyStatus"
                      id="inputOTP"
                      formControlName="enteredOTP"
                      (keyup)="validateOTP()"
                      class="inputOtp"
                    /><span
                      ><button type="button"
                        mat-raised-button
                        style="background-color: #ffc107;"
                        (click)="isOTPMatched()"
                        [disabled]="hideVerifyButton"
                      >
                        Verify OTP
                      </button></span
                    > <div class="invalid-feedback" *ngIf="errorOTPMessage">
                      Please enter 4 digit OTP.
                    </div>
                    <ng-container>
                      <span *ngIf="validMessageStatus" style="color: green">
                        Verified ✅✅</span
                      >
                      <span *ngIf="notValidMessageStatus" style="color: red">
                        Not Verified ❌❌</span
                      >
                    </ng-container>
                  </div>
                </div>
                <ng-container *ngIf="validMessageStatus">
                <div class="row mb-3 signup_input">
                  <label
                    for="inputfirstname"
                    class="col-sm-2 col-form-label"
                    style="font-size: small"
                    >First Name<span class="form_mandatory_mark">*</span></label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      name="firstName"
                      id="inputfirstname"
                      required="true"
                      formControlName="firstName"
                    />
                  </div>
                </div>
                <div class="row mb-3 signup_input">
                  <label
                    for="inputlastname"
                    class="col-sm-2 col-form-label"
                    style="font-size: small"
                    >Last Name<span class="form_mandatory_mark">*</span></label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      name="lastName"
                      id="inputlastname"
                      required="true"
                      formControlName="lastName"
                    />
                  </div>
                </div>
                <div class="row mb-3 signup_input">
                  <label for="inputpassword" class="col-sm-2 col-form-label" style="font-size: small;"
                    >Password <span class="form_mandatory_mark">*</span></label
                  >
                  <div class="col-sm-10">
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      id="inputpassword"
                      required="true"
                      formControlName="password"
                    />
                  </div>
                </div>
                </ng-container>
                <ng-container>
                  <div class="form_buttons">
                    <button type="submit" class="btn btn-warning _button" [disabled]="signupForm.invalid">
                      Sign in
                    </button>
                    <button type="reset" class="btn btn-warning _button">
                      Reset
                    </button>
                  </div>
                </ng-container>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <app-footer></app-footer>
    </div>
  </div>
</div>
