.navbarcomponent{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100vw;
    height: 8vh;
    margin-top: -8px;
    background-color: black;
    color: white;
}
.navbar nav{
    background-color: black;
}
.content{
    color: #ffc107;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}
.navbar_details{
    display: block;
}
.navbar_details_toggle{
    display: none;
}
@media(max-width:800px){
    .navbar_details{
        display: none;
    }
    .navbar_details_toggle{
        display: block;
        margin: 0;
        padding: 0;
    }
}
