<div class="navbarcomponent">
    <div class="navbar">
        <nav class="navbar fixed-top navbar-light">
            <div class="container-fluid">
              <div class="content">
                <h3>Your Own Notes</h3>
              </div>
              <ng-container *ngIf="isUserLoggedIn()">
                <div class="navbar_details">
                  <app-navbar-details></app-navbar-details>                  
                </div>
                <div class="navbar_details_toggle">
                  <app-navbar-toggle></app-navbar-toggle>
                </div>
              </ng-container>              
            </div>
        </nav>
    </div>
</div>
