.navbarcomponent{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100vw;
    height: 8vh;
    margin-top: -8px;
    background-color: black;
    color: white;
}
.content{
    color: #ffc107;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}
.flexbox_container{
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    gap: 20px;
}
.item{
    /* background-color: red; */
    height: 43px;
}
.flexbox_item1{
    width: 70px;
}
.toggle_text{
    color: #ffc107;
}
.flexbox_item2{
    width: 38px;
}
.user_logo{
    background-color: #ffc107;
    border-radius: 50%;
    display: inline-block;
    height: 35px;
    width: 35px;
    cursor: pointer;
}
.inside_logo{
    position: absolute;
    margin-left: 10px;
    margin-top: 3px;
}
.toggle_list{
    position: absolute;
    margin-top: 36px;
    margin-left: 70px;
}
.list{
    background-color: #ffc107;
    margin: 2px 0px;
    padding: 0px 5px;
}
.list_item{
    text-decoration: none;
    list-style-type: none;
    border-top: 2px solid black;
    margin-bottom: 10px;
}
.list_item a{
    text-decoration: none;
    color: black;
}
.list_item a:hover{
    color: red;
}