<div class="forgot_password_component">
  <div class="navbar">
    <app-navbar></app-navbar>
  </div>
  <div class="body">
    <div class="background">
      <div class="flexbox_container">
        <div class="flexbox_item1">
          <div class="item1_image">
            <img [src]="forgotLogo" alt="image" />
          </div>
        </div>
        <div class="flexbox_item2">
          <div class="input_div">
            <div class="signup_div">
              <a (click)="redirtToSignUp()">Doesn't have account?</a>
            </div>
            <div class="formdiv">
              <form [formGroup]="changePasswordForm" (ngSubmit)="submitPassword()">
                <div class="row mb-3">
                  <label for="inputEmail" class="col-sm-2 col-form-label labels"
                    >Email <span class="form_mandatory_mark">*</span></label
                  >
                  <div class="col-sm-10">
                    <div class="input-group has-validation">
                      <input
                        type="text"
                        class="form-control"
                        id="inputEmail"
                        aria-describedby="inputGroupPrepend"
                        formControlName="userEmail"
                        [readOnly]="makeEmailFieldReadOnly"
                        (keyup)="validateEmail()"
                      /><span
                        ><button
                        type="button"
                          mat-raised-button
                          style="background-color: #ffc107"
                          [disabled]="disableOTPButton"
                          (click)="sendOTP()"
                        >
                          Send OTP
                        </button></span
                      >
                    </div>
                    <div
                      class="errorMessage"
                      *ngIf="
                        isEmailValid
                      "
                    >
                      Please Enter a valid Email.
                    </div>
                  </div>
                </div>
                <div class="row mb-3" *ngIf="showOTPField">
                  <label for="inputOTP" class="col-sm-2 col-form-label labels"
                    >OTP <span class="form_mandatory_mark">*</span></label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      class="OTPInputField"
                      formControlName="enteredOTP"
                      id="inputOTP"
                      [readOnly]="makeOtpFieldReadOnly"
                      (keyup)="verifyOTP()"
                    /><span
                      ><button
                      type="button"
                        mat-raised-button
                        style="background-color: #ffc107"
                        [disabled]="disableVerifyButton"
                        (click)="verifyUser()"
                      >
                        Verify OTP
                      </button></span
                    >
                    <div
                      class="errorMessage"
                      *ngIf="errorOTPMessage"
                    >
                      Please Enter 4 digit OTP.
                    </div>
                    <ng-container>
                      <span *ngIf="validMessageStatus" style="color: green">
                        Verified ✅✅</span
                      >
                      <span *ngIf="!validMessageStatus" style="color: red">
                        Not Verified ❌❌</span
                      >
                    </ng-container>
                  </div>
                </div>
                <div class="row mb-3" *ngIf="showNewPasswordField">
                  <label for="inputNewPassword" class="col-sm-2 col-form-label labels"
                    >Password
                    <span class="form_mandatory_mark">*</span></label
                  >
                  <div class="col-sm-10">
                    <input
                      type="password"
                      class="form-control"
                      name="newUserPassword"
                      formControlName="userNewPassword"
                      (keyup)="passwordStatus()"
                      class="passwordField"
                      id="inputNewPassword"
                    />
                    <ng-container>
                      <span *ngIf="passwordStatusMessage" style="color: green">
                        ✅✅</span
                      >
                      <span *ngIf="!passwordStatusMessage" style="color: red">
                        ❌❌</span
                      >
                    </ng-container>
                    <div
                      class="errorMessage"
                      *ngIf="
                        userNewPasswordValidator &&
                        userNewPasswordValidator.touched &&
                        userNewPasswordValidator.invalid
                      "
                    >
                      Atleast 7 length Password will Accept.
                    </div>
                  </div>
                </div>
                <div class="form_buttons">
                  <button
                    type="submit"
                    class="btn btn-warning _button"
                    [disabled]="changePasswordForm.invalid"
                  >
                    Change
                  </button>
                  <button type="reset" class="btn btn-warning _button">
                    Reset
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
